@import url('./base.css');

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--md-sys-color-background);
	color: var(--md-sys-color-on-background);
	font-family: var(--md-ref-typeface-plain);
	overflow: hidden;
}

body,
#app {
	width: 100svw;
	height: 100svh;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

button {
	outline: none;
	border: none;
	font-family: inherit;
}

input {
	font-family: inherit;
}

.mvct-logo {
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	background-color: transparent;
	border-radius: 25px;
	box-sizing: border-box;
}

.mvct-logo:focus-visible {
	border: 1px solid var(--md-sys-color-outline);
}

.mvct-logo-image {
	height: 7svh;
}
